<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="UTF-8">
		
		<title>Music | Feel with Eagle</title>
		
		<!-- Bootstrap CSS -->
		<link href="libs/bootstrap-4.3.1-dist/bootstrap.min.css" rel="stylesheet" type="text/css">
		
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet" type="text/css">
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	
	<body class="bg-light">
		
		<div class="container-fluid">
			<header class="row header justify-content-around">
				<button class="navbar-toggler border rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				
				<h3 class="col-md-3 my-2 text-center">Eagle Team</h3>
				
				<form class="col-md-6 m-2 px-3 form-group form-row" method="get" >
					<div class="col">
						<input type="text" class="align-center form-control" placeholder="Tên bài hát...">
					</div>
					<div class="col-auto">
						<button class="mx-2 px-4 btn btn-light" type="button"><i class="fas fa-search"></i></button>
					</div>
				</form>
			</header>
			 <!-- End Header -->
			
			<div class="row">
				<nav class="col-xl-2 col-lg-3 navbar navbar-expand-lg navbar-dark bg-black">
					<div class="collapse navbar-collapse align-self-start position-fixed" id="navbarSupportedContent">
						<ul class="navbar-nav flex-column bg-black">
							<li class="nav-item py-1">
								<a class="nav-link active" href=""><i class="fas fa-home mr-3"></i>Trang chủ</a>
							</li>
							<li class="nav-item py-1">
								<a class="nav-link" href=""><i class="far fa-list-alt mr-3"></i>Bảng xếp hạng</a>
							</li>
							<li class="nav-item py-1">
								<a class="nav-link" href=""><i class="fas fa-user-friends mr-3"></i>Ca sĩ</a>
							</li>
							<li class="nav-item py-1">
								<a class="nav-link" href=""><i class="fas fa-users mr-3"></i>Nhac sĩ</a>
							</li>
							<li class="nav-item py-1">
								<h5>Tài khoản</h5>
							</li>
							<li class="nav-item py-1">
								<a class="nav-link" href=""><i class="fas fa-user mr-3"></i>Thông tin cá nhân</a>
							</li>
							<li class="nav-item py-1">
								<a class="nav-link" href=""><i class="fas fa-music mr-3"></i>Playlist</a>
							</li>
							<li class="nav-item py-1">
								<a class="nav-link" href=""><i class="fas fa-sign-out-alt mr-3"></i>Đăng xuất</a>
							</li>
						</ul>
					</div>
				</nav>
				<!-- End Siderbar -->
				
				<div class="col-xl-10 col-lg-9">
					<div class="row">
						<section class="col-xl-9 py-3">					
							<p class="search-title">Từ khóa: ...</p>
							<article class="bg-white border rounded p-3 result-search">
									<p class="result-search-status">Có .. kết quả.</p>
									<hr>
									<ul class="result-search-list">
										<li class="result-search-item row">
											<a class="col-sm-3" href="watch.html?v=chelinh-nhaclinh"><img src="images/10namtinhcu-chelinh.jpg" class="result-search-image"></a>
											<div class="result-search-infor col-sm-9">
												<a class="result-search-link" href="watch.html?v=chelinh-nhaclinh">
													<p class="text-ellipsis">Chế Linh - Nhạc Lính</p>
												</a>
												<div class="result-search-intro">
													<p class="mb-0">
														3.7 <i class="fas fa-star"></i>
													</p>
													<p class="mb-0 text-ellipsis">
														Chế Linh: ...
													</p>
													<p class="composer text-ellipsis">
														Chế Linh: ...
													</p>
												</div>
											</div>
										</li>
										
										<li class="result-search-item row">
											<a class="col-sm-3" href="watch.html?v=chelinh-nhaclinh"><img src="images/10namtinhcu-chelinh.jpg" class="result-search-image"></a>
											<div class="result-search-infor col-sm-9">
												<a class="result-search-link" href="watch.html?v=chelinh-nhaclinh">Chế Linh - Nhạc Lính</a>
												<div class="result-search-intro">
													<p class="mb-0">
														3.7 <i class="fas fa-star"></i>
													</p>
													<p class="mb-0">
														Chế Linh: ...
													</p>
													<p class="composer">
														Chế Linh: ...
													</p>
												</div>
											</div>
										</li>
										
										<li class="result-search-item row">
											<a class="col-sm-3" href="watch.html?v=chelinh-nhaclinh"><img src="images/10namtinhcu-chelinh.jpg" class="result-search-image"></a>
											<div class="result-search-infor col-sm-9">
												<a class="result-search-link" href="watch.html?v=chelinh-nhaclinh">Chế Linh - Nhạc Lính</a>
												<div class="result-search-intro">
													<p class="mb-0">
														3.7 <i class="fas fa-star"></i>
													</p>
													<p class="mb-0">
														Chế Linh: ...
													</p>
													<p class="composer">
														Chế Linh: ...
													</p>
												</div>
											</div>
										</li>
										
										<li class="result-search-item row">
											<a class="col-sm-3" href="watch.html?v=chelinh-nhaclinh"><img src="images/10namtinhcu-chelinh.jpg" class="result-search-image"></a>
											<div class="result-search-infor col-sm-9">
												<a class="result-search-link" href="watch.html?v=chelinh-nhaclinh">Chế Linh - Nhạc Lính</a>
												<div class="result-search-intro">
													<p class="mb-0">
														3.7 <i class="fas fa-star"></i>
													</p>
													<p class="mb-0">
														Chế Linh: ...
													</p>
													<p class="composer">
														Chế Linh: ...
													</p>
												</div>
											</div>
										</li>
										
										<li class="result-search-item row">
											<a class="col-sm-3" href="watch.html?v=chelinh-nhaclinh"><img src="images/10namtinhcu-chelinh.jpg" class="result-search-image"></a>
											<div class="result-search-infor col-sm-9">
												<a class="result-search-link" href="watch.html?v=chelinh-nhaclinh">Chế Linh - Nhạc Lính</a>
												<div class="result-search-intro">
													<p class="mb-0">
														3.7 <i class="fas fa-star"></i>
													</p>
													<p class="mb-0">
														Chế Linh: ...
													</p>
													<p class="composer">
														Chế Linh: ...
													</p>
												</div>
											</div>
										</li>
									</ul>
							</article>
							
						</section>
						<!-- End Content -->
						
						<aside class="col-xl-3">
						
						</aside>
						<!-- End aside -->
					</div>
					<!-- End Main Content -->
					
					<div class="row">					
						<footer class="py-3 footer col-md-12">
							<p class="text-center col-12 text-light mb-0">© 2019 Eagle | Design by Eagle</p>
						</footer>
					</div>
					<!-- End footer -->
					
				</div>
			</div>
		</div>
		
		<!-- load Bootstrap -->
		<script src="libs/jquery-3.4.0/jquery-3.4.0.min.js"></script>
		<script src="libs/popper/popper.min.js"></script>
		<script src="libs/bootstrap-4.3.1-dist/bootstrap.min.js"></script>
		
		
	</body>
</html>